/.venv
config/log/instabot_4757780656.log
config/log/instabot_4692685728.log
config/log/instabot_4634661888.log
config/log/instabot_4585436064.log
config/unfollowed.txt
config/whitelist.txt
config/skipped.txt
config/mobydickatsea.checkpoint
config/mobydickatsea_uuid_and_cookie.json
config/friends.txt
config/followed.txt
config/comments.txt
config/blacklist.txt
img.jpg
image.png
Bitter-ExtraBold.ttf
Bitter-Bold.ttf
background.jpg
.DS_Store
image.png
reel.mp4.jpg
reel.mp4
img.png
image.png
zoomed.mp4
__pycache__/animations.cpython-39.pyc
__pycache__/image_utils.cpython-39.pyc
__pycache__/constants.cpython-39.pyc
sounds/1.wav
sounds/2.wav
sounds/6.mp3
sounds/7.wav
